<!DOCTYPE html>
<html>
<head>
    <title>Emotions</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    {{pop}}{{unpop}}
</html>

<style>
    html,body{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
    }
    
    #header1{
        text-align :center;
    }


    .row {
        float: left;
        display: block;
        clear:left;
        padding:0px;
        text-align:center;
    }

</style>