<!DOCTYPE html>
<html>
<head>
    <title>Word Cloud</title>
</head>
<body>
    <div class="row">
        <div class="column">
            
            <div class="crop" id="div1">
                <h1>Tweet Content Wordcloud</h1>
                <img src="{{ text_wc }}">
            </div>
        </div>
        <div class="column">
            
            <div class="crop" id="div2">
                <h1>Hashtags Wordcloud</h1>
                <img src="{{ ht_wc }}">
            </div>
        </div>
    </div>
</body>
</html>

<style>
 
    #div1{
        float:left;
    }

    #div2{
        float:right;
     
    }
    
    .crop img {
        width: 750px;
        height: 550px;
    }

    .row {
        display: flex;
    }

    .column {
        flex: 30%;
        padding: 2px;
        text-align: center;
    }
</style>